[Desktop Entry]
Type=Application
Name=EasyEdit
GenericName=Markdown Editor
Comment=Simple Markdown editor with preview
Exec=easyedit %U
Icon=io.github.gcclinux.EasyEdit
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/markdown;text/html;
X-Purism-FormFactor=Workstation;Mobile;
StartupWMClass=EasyEdit
